/* Common layout */
* {
  box-sizing: border-box;
}

header,
main {
  width: 80%;
  margin: 0 auto;
}

img {
  width: auto;
  max-width: 100%;
}

/* Header */
.header {
  text-align: center;
  padding: 40px;
  outline: 10px solid pink;
}

/* Navigation */
.navbar ul {
  padding: 0;
}

.navbar li {
  list-style: none;
  display: inline-block;
}

/* Articles */
article {
  outline: 10px solid lightblue;
  margin: 20px 0;
}

article img {
  width: 48%;
  margin: 0 0 0 2%;
}

.float-markup {
  overflow: auto;
}

.float-markup .headline {
  display: inline-block;
  overflow: auto;
}

.float-markup img {
  float: right;
}

.flexbox-markup {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flexbox-markup img {
  order: 3;
  flex-grow: 0;
}
